.otsanalyzer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.otsanalyzer-div .description {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.otsanalyzer-div .scanButton {
  width: 400px;
  text-transform: uppercase;
}

.otsanalyzer-div .ul {
  padding-inline-start: 20px;
}