.navbar-paper {
    display: flex;
    position: fixed;
    padding: 5px;
    padding-inline: 20px;
    width: 100%;
    border-start-start-radius: 0px !important;
    border-start-end-radius: 0px !important;
    z-index: 200;
}

.navbar-paper .logo-div {
  display: flex;
  position: relative;
  width: 200px;
  margin-right: 5px;
}

.navbar-paper .logo-div img {
  width: 100%;
}

.navbar-paper .buttons-div {
  display: flex;
  position: relative;
  margin-right: auto;
}

.navbar-paper .buttons-div button {
    border-radius: 0px;
}

.navbar-paper .options-div {
  display: flex;
  align-items: center;
}

.navbar-paper .options-div .toolstatus-chip {
  margin-right: 5px;
  font-weight: bold;
}

.navbar-paper .options-div .toolstatus-chip .checking-icon {
  width: 24px !important;
  height: 24px !important;
}