body {
    display: block;
    width: 800px;
    height: 550px;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.app-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}