body {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes pulseGreen {
  0% { box-shadow: 0 0 6px #00c853; }
  50% { box-shadow: 0 0 14px #00e676; }
  100% { box-shadow: 0 0 6px #00c853; }
}

@keyframes pulseYellow {
  0% { box-shadow: 0 0 6px #fbc02d; }
  50% { box-shadow: 0 0 14px #ffeb3b; }
  100% { box-shadow: 0 0 6px #fbc02d; }
}

@keyframes pulseRed {
  0% { box-shadow: 0 0 6px #d50000; }
  50% { box-shadow: 0 0 14px #ff1744; }
  100% { box-shadow: 0 0 6px #d50000; }
}
