.scanteckstack-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.scanteckstack-div .description {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.scanteckstack-div .alert {
  margin-bottom: 5px;
  width: 400px;

}

.scanteckstack-div .scanButton {
  width: 400px;
  text-transform: uppercase;
}

.scanteckstack-div .report {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-inline: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}