.nw-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nw-div .toolbar {
  padding-left: 24px;
  padding-right: 24px;
}

.nw-div .toolbar .logo {
  width: 200px;
  cursor: pointer;
}

.nw-div .toolbar .divider {
  height: auto;
}

.nw-div .toolbar .buttons {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nw-div .toolbar .buttons .button {
  display: flex;
  border-radius: 0;
  padding-inline: 20px;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
}

.nw-div .toolbar .buttons .options {
  display: flex;
  position: absolute;
  right: 0px;
}

.nw-div .content-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  min-height: 0;
}

.nw-div .content-div .left-div {
  display: block;
  border-radius: 0;
  height: 100%;
  min-width: 246px;
}

.nw-div .content-div .left-div .button {
  display: flex;
  justify-content: start;
  width: 100%;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.nw-div .content-div .right-div {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: center;
  padding: 10px;
}

.nw-div .toolbar .logo-desktop {
  display: block;
}
.nw-div .toolbar .logo-mobile {
  display: none;
}

.nw-div .toolbar .buttons .options .toolstatus-chip {
  margin-right: 5px;
  margin-top: 3px;
  font-weight: bold;
}

.nw-div .toolbar .buttons .options .toolstatus-chip .checking-icon {
  width: 24px !important;
  height: 24px !important;
}

@media (max-width: 900px) {
  .nw-div .content-div .left-div {
    display: block;
    height: 100%;
    min-width: 80px;
  }
  .nw-div .toolbar .logo {
    width: 34px;
  }
  .nw-div .toolbar .buttons {
    justify-content: start;
    margin-left: 20px;
  }
  .nw-div .toolbar .buttons .options {
    position: relative;
    margin-left: auto;
  }
  .nw-div .content-div .left-div .button {
    justify-content: center;
  }
  .nw-div .toolbar .logo-desktop {
    display: none;
  }
  .nw-div .toolbar .logo-mobile {
    display: block;
  }
}
