.pageNavigation-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-top: none !important;
  border-start-start-radius: 0px !important;
  border-start-end-radius: 0px !important;
}

.pageNavigation-div .icon {
  display: flex;
  margin-right: 5px;
  margin-top: 2px;
}

.pageNavigation-div .title {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.pageNavigation-div .subsection {
  display: flex;
  margin-left: 5px;
}

.pageNavigation-div .divider {
  height: 80%;
}

.pageNavigation-div .options {
  display: flex;
  margin-left: auto;
}

.pageNavigation-div .options button {
  border-radius: 0px;
}