.rt-scanresults {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-inline: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rt-scanresults .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rt-scanresults .sr-mb5 {
  margin-bottom: 5px;
}

.rt-scanresults .sr-mt10 {
  margin-top: 10px;
}

.rt-scanresults .sr-mb10 {
  margin-bottom: 10px;
}

.rt-scanresults .rts-status-paper {
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.rt-scanresults .rts-status-paper .grid-container {
  width: 100%;
}

.rt-scanresults .rts-status-paper .grid-newline-items {
  margin-top: 5px;
}

.rt-scanresults  .rts-status-paper .grid-newline {
  margin-top: 10px;
}