.analyzerFindings-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.analyzerFindings-div .title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.analyzerFindings-div .description {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.analyzerFindings-div .analyzerFindings-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  min-height: 0;
}
