.home-div {
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.home-div .description {
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.home-div .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  align-items: stretch;   
}


