.home-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro-section {
  padding: 25px;
}

.title {
  font-weight: 700;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 10px;
}

.warning {
  margin-top: 10px;
  font-style: italic;
  color: #ff5555;
}

.cards-row {
  display: flex;
  justify-content: space-between;
}

.feature-card {
  cursor: pointer;
  width: 30%;
  padding: 25px;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-card:hover {
  transform: scale(1.02);
}

.feature-icon {
  font-size: 40px;
  opacity: 0.8;
}
