.ot-scanresults {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-inline: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ot-scanresults .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ot-scanresults .sr-mb5 {
  margin-bottom: 5px;
}

.ot-scanresults .sr-mt10 {
  margin-top: 10px;
}

.ot-scanresults .sr-options {
  display: flex;
  margin-left: auto;
}

.ot-scanresults .sr-mt10mb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ot-scanresults .sr-bold {
  font-weight: bold;
}

.ot-scanresults .sr-minw0 {
  min-width: 0;
}

.ot-scanresults .sr-p5 {
  padding: 5px;
}

.ot-scanresults .sr-mb10 {
  margin-bottom: 10px;
}

.ot-scanresults .sr-wrap {
  overflow-wrap: anywhere;
  word-break: break-word;
}
