.subPageNavigation-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-top: none !important;
  border-start-start-radius: 0px !important;
  border-start-end-radius: 0px !important;
}

.subPageNavigation-div .buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subPageNavigation-div .buttons button {
  border-radius: 0px;
  width: 50%;
}
