.httpFindings-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto 0;
}

.httpFindings-div .title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.httpFindings-div .description {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.httpFindings-div .httpFindings-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  min-height: 0;
}
