.openapi-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0;
}

.openApi-loading-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.openapi-div .title {
  display: flex;
  justify-content: center;
  font-weight: bold !important;
  font-size: 30px !important;
}

.openapi-div .description {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
