.collapsible {
  margin-bottom: 8px !important; 
  border-radius: 10px !important; 
  width: 100% !important;
}

.collapsible-title {
  font-weight: bold !important;
  white-space: normal;    
  overflow-wrap: anywhere;
  word-break: break-word; 
}

.collapsible-details {
  margin: 0px !important;
}
