.rtsanalyzer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.rtsanalyzer-div .description {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.rtsanalyzer-div .scanButton {
  width: 400px;
  text-transform: uppercase;
}

.rtsanalyzer-div .ul {
  padding-inline-start: 20px;
}

.rtsanalyzer-div .rts-status-paper {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.rtsanalyzer-div .rts-status-paper .grid-container {
  width: 100%;
}

.rtsanalyzer-div .rts-status-paper .grid-newline-items {
  margin-top: 5px;
}

.rtsanalyzer-div .rts-status-paper .grid-newline {
  margin-top: 10px;
}