.sendanalyzerots-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.sendanalyzerots-div .description {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.sendanalyzerots-div .alert-block {
  width: 100%;
  margin: 5px;
}

.sendanalyzerots-div .content-box {
  width: 95%;
}

.sendanalyzerots-div .step-full {
  width: 100%;
}

.sendanalyzerots-div .full-list {
  width: 100%;
}

.sendanalyzerots-div .centered-loading {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.sendanalyzerots-div .empty-box {
  padding: 16px;
}

.sendanalyzerots-div .actions {
  margin-bottom: 16px;
}

.sendanalyzerots-div .btn {
  margin-top: 8px;
  margin-right: 8px;
}

.jobsummaries-description {
  margin-bottom: 10px !important;
}

.jobsummaries-item {
  padding: 5px;
  margin-bottom: 5px !important;
}

.jobsummaries-item .item-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.jobsummaries-loading-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
